/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background:  #FFFFFF url(images/bg01.jpg) repeat-x top left;
	font-size: 13px;
	color: #7F7F7F;
}

body, th, td, input, textarea, select, option {
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #484848;
}

h1 {
/*	text-transform: lowercase; */
	letter-spacing: -1px;
	font-size: 24px;
}

h2 {
/*	text-transform: lowercase;*/
	letter-spacing: -1px;
	font-size: 24px;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #7ACE11;
}

a:hover {
	text-decoration: none;
	color: #7ACE11;
}

/* Header */

#header {
	width: 890px;
	height: 190px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 40px 0 0 0;
}

#logo h1 {
	margin: 0;
/*	text-transform: lowercase; */
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #FFFFFF;
}


/* Page */

#page {
	width: 890px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 590px;
}

.post {
	padding: 20px 20px;
	background: url(images/bg04.jpg) no-repeat top left;
}

.title {
	margin: 0;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.byline {
	margin: 0;
	color: #D79B00;
}

.meta {
	text-align: left;
	color: #646464;
}

.meta .more {
	padding-left: 20px;
	background: url(images/img03.gif) no-repeat left center;
}

.meta .comments {
	padding-left: 20px;
	background: url(images/img04.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 15px 0;
}

#sidebar li li {
	padding-left: 20px;
	border-bottom: 1px dotted #7B9418;
}

#sidebar h2 {
	margin: 0;
	padding: 5px 0 0 20px;
	background: url(images/img06.jpg) no-repeat left 80%;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
}

/* Footer */

#footer {
	clear: both;
	margin: 0px;
	height: 80px;
	background: #F2F2F2 url(images/bg02.jpg) repeat-x left top;
}

#footer p {
	padding: 20px 0;
	text-align: center;
	font-size: smaller;
	color: #717171;
}
/* Reference */

#ref {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#ref tr {
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

#ref tr th {
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    text-align: center;
    padding: 0px 4px 0px 4px;
}

#ref tr td {
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    padding: 0px 4px 0px 4px;
}

#ref tr td.warn {
    background-color: gold;
    color: black;
}

#ref tr td.err {
    background-color: #cc0000;
    color: white;
}


